.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:40px;
}

.wrap .item {
    flex: 0 1 auto;
    margin: 5px;
    width: calc(33.333% - 10px);
    border: 1px solid #ddd;
    padding: 20px;
}

.wrap .item img {
    width:70px;
}

